.app {
	text-align: center;
}

.app-header {
	background-color: #222;
	height: 70px;
	padding: 10px;
	color: white;
	margin-bottom: 20px;
	padding: 10 5px;
}

.app-title {
	font-size: 1.5em;
}

.app-winner-heading {
	margin-bottom: 10px;
}

.app-lead {
    margin-bottom: 20px;
}
