.winner-badge {
    background-color: gold;
    display: inline-block;
    padding: 9px;
    border: 1px solid #222;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
    min-width: 20px;
}